.psuedo-element {
  position: relative;
  background: var(--shade-of-white);
  overflow: hidden;
  margin: 10px auto;
}

@keyframes loading {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.psuedo-element__inner {
  display: inline;
  position: absolute;
  width: 25%;
  height: 100%;
  animation: loading 1s infinite alternate-reverse;
  background: lightgrey;
}
