.recent-events {
  flex: 1;
}

.recent-events__title {
  font-size: 16px;
  color: var(--shade-of-blue);
  padding-left: 15px;
  margin: 0 0 20px;
  text-align: center;
}

.recent-events__list {
}

.recent-events__no-events {
  margin-top: 100px;
  color: #dddddd;
  background: #403f3f;
  padding: 25px;
}
