.dropdown-search {
  position: absolute;
  top: 66px;
  width: 100%;
  height: 545px;
  overflow: auto;
  background: #f1f1f1;
  z-index:1000
}

.dropdown-search__item {
  background: #ffffff;
  margin: 7px 0;
  padding: 7px;
}

.dropdown-search__item:hover {
  background: #f1f1f1;
}

.dropdown-search__link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}
.dropdown-search__user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #484848;
}

.dropdown-search__avatar {
  width: 50px;
  border-radius: 50%;
  margin-right: 22px;
}

.dropdown-search__hint {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #484848;
  margin-top: 70px;
}
