.input_wapper {
  display: block;
  text-align: left;
}

.input_wapper__label {
  display: inline-block;
  color: var(--shade-of-black);
  margin-bottom: 7px;
  min-width: 160px;
  font-weight: bold;
  font-size: 16px;

}

.input_wapper__input {
  font-size: 16px;
  line-height: 2;
  background: var(--shade-of-white);
  color: #808080;
  height: 32px;
  border: 1px solid gray;
  padding-left: 7px;
  display: block;
  width: 100%;
}

input_wapper__input:focus {
  border-color:none;
}
