.users {
  flex: 1;
  padding: 25px;
  max-height: calc(100vh - 78px);
  overflow: auto;
  display: flex;
  justify-content: center;
}

.users__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
