.user {
  padding: 10px;
  text-align: center;
  min-width: 250px;
  background: #f1f1f1;
  border-radius: 5px;
  margin: 10px;
  list-style: none;
}

.user__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.user__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user__tag {
  margin: 10px 0;
  font-weight: bold;
}

.user__details {
  padding: 0 10px;
}

.user__detail-label {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}

.user--is-profile {
  background: transparent;
  margin-bottom: 30px;
  color: #fff;
}

.user__link {
  text-decoration: none;
  color: #484848;
}

.user--is-profile .user__info {
  margin-bottom: 20px;
}

.user--is-profile .user__link {
  margin-bottom: 20px;
  color: white;
}
