.login-panel {
  background: rgba(0, 0, 0, 0.9);
  width: 800px;
  margin: 70px auto;
  color: #fff;
  padding: 25px;
  border-radius: 10px;
}

.login_panel__header-container {
  text-align: center;
}

.login-panel__header-content {
}

.login-panel__header-logo {
  width: 100px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.login-panel__header-title {
  margin-top: 10px;
}

.login-panel__header-hint {
}

.login-panel__feedback {
}

.login-panel__feedback--is_danger {
}

.login-panel__fields-wrapper {
}

.login-panel__form {
    width: 70%;
    margin: 0 auto;
    text-align: center;

}

.login-panel__input {
    margin: 10px 0;

}

.login-panel__auth-type {
  margin: 30px 0;
}

.login-panel__checkbox {
  display: block;
  text-align: left;
  margin: 30px 0 20px;
}

.login-panel__button {
}
