.login-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 390px;
  transform: translate(-50%, -50%);
  color: var(--shade-of-black);
}

.login_panel__header-container {
  text-align: center;
}

.login-panel__header-content {
}

.login-panel__header-logo {
  width: 100px;
}

.login-panel__header-title {
  margin-top: 10px;
}

.login-panel__header-hint {
}

.login-panel__feedback {
  padding: 15px 7px;
  margin: 30px auto 0;
}

.login-panel__feedback--is_danger {
  background: #ffe5e5;
  border: 1px solid red;
}

.login-panel__fields-wrapper {
}

.login-panel__form {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.login-panel__input {
  margin: 10px 0;
}

.login-panel__auth-type {
  margin: 30px 0;
}

.login-panel__checkbox {
  margin: 30px 0 20px;
  text-align: left;
}

.login-panel__button {
}

.login-panel__spinner {
  height: 20px;
  width: 20px;
  animation: rotate 0.8s infinite linear;
  border: 8px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  margin: 0 auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
