.auth-type {
}

.auth-type_label {
  display: inline-block;
  border: 2px solid #fff;
  cursor: pointer;
  padding: 15px;
  transition: background 0.3s;
}


.auth-type_label:nth-child(1) {
  margin-right: 2px;
}

.auth-type__input {
  position: absolute;
  left: -1000px;
}

.auth-type__input--is-checked {
  background: #fff;
  color: #000;
}
