.nav {
  justify-content: space-between;
  padding: 10px 70px;
  background: var(--shade-of-black);
  color: var(--shade-of-white);
  position: relative;
}

.nav__link {
  color: var(--shade-of-white);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__user-container,
.nav__logo-container,
.nav__right,
.nav {
  display: flex;
  align-items: center;
}

.nav__logo-container {
}

.nav__logo-image {
  width: 50px;
}

.nav__logo-text {
  font-size: 22px;
}

.nav__search {
  transition-property: top, left;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transform: translate(-50%, -50%);
  position: absolute;
  left: calc(50% + 175px);
  top: calc(100vh / 2);
  z-index: 999;
}

.nav__search--is-focused {
  left: 50%;
  top: 50%;
}

.nav__user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--shade-of-white);
}
.nav__username {
  font-weight: bold;
  margin: 0 7px;
}

.nav__button,
.nav__user-container {
  margin: 0 15px;
}
