:root {
  --main-bg-color: linear-gradient(180deg, #f3f3f3, #b0b0b0);
  --shade-of-black: #484848;
  --shade-of-white: #dedede;
  --shade-of-blue: #7cbce7;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background: var(--main-bg-color);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


