.received-events {
  padding: 0 25px;
  width: 100%;
}

.received-events__chart {
  margin: 0 auto;
}

.received-events__title {
  color: var(--shade-of-black);
  font-size: 22px;
  margin: 10px 0 0;
}
.received-events_title--is-psuedo {
margin: 0;
}
.received-events__hint {
  color: var(--shade-of-black);
  font-size: 18px;
  margin-top: 22px
}
