.received-events {
  padding: 25px;
  width: 100%;
}

.received-events__chart {
  margin: 0 auto;
}

.received-events__title {
  color: var(--shade-of-black);
  margin-bottom: 30px;
  font-size: 22px;
  margin-left: 0;
}
.received-events_title--is-psuedo {
margin-left: 0;
}
.received-events__hint {
  color: var(--shade-of-black);
  font-size: 18px;
}
